@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

html {
    scroll-behavior: smooth;
}

.hamburguer {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 2rem;
}

.line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 4s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(0.4rem, 0.45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(0.1rem, -0.45rem);
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 13vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: rgb(0 0 0 / 80%);
    font-family: var(--font-primary);
    font-weight: 100;
    text-shadow: 0.3rem 0.4rem 1px #c7c9ca;
    line-height: 3.rem;
    margin-bottom: -1rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: #292626;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem #c7c9ca;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 100%;
    height: 3rem;
    background-color: rgb(161, 160, 160);
    position: fixed;
    top: 0;
    right: -120rem;
    transition: all 1s;
    z-index: 80;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 59%;
    left: 45%;
    transform: translate(-56%, -58%);
    display: flex;
    justify-content: space-between;
    width: 74%;
}

.menu-item {
    text-align: center;
    margin-bottom: 0.4rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #292626;
    transition: color 1s;
}

.menu-link:hover {
    color: #c7c9ca;
}

.social-media {
    display: flex;
    left: 85%;
    bottom: 1%;
    position: absolute;
    justify-content: space-evenly;
}

.social-media i {
    background-color: #1f194d;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #888888;
}

* {
    margin: 0;
    padding: 0;
}

.card_img {
    width: 300px;
    height: 333px;
    overflow: hidden;
    margin: 25px;
}

.small_img {
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}

.small_img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#modal_img {
    width: 97vw;
    transform: scale(0);
    transition: all linear .3s;
}

.modal_active #modal_img {
    transform: scale(1);
}

.modal {
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_lowd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

#bt_close {
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 10px;
    right: 39px;
    padding: 6px 10px;
    font-size: 25px;
    border: solid 1px #fff;
    transition: all ease-out .4s;
    cursor: pointer;
}

#bt_close:hover {
    background-color: #f00;
}

.modal_active {
    visibility: visible;
    opacity: 1;
}

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 80%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.contato-left {
    width: 49%;
    height: 30rem;
    background: linear-gradient(rgba(77, 75, 75, 0.6), rgba(126, 125, 125, 0.9)), url("./imagens/57.jpeg");
    background-size: cover;
}

.contato-right {
    width: 59%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.input-group textarea {
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
}

.field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus~label {
    top: 0;
    font-size: 0.7rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 50%;
    height: 2.5rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.preenchido {
    pointer-events: none;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #575558;
    background: -webkit-linear-gradient(to right, #1e1d1f, #000000);
    background: linear-gradient(to left, #8b868f, #6b656e);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}